<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <title>GymApp</title>

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav container">
        <div class=" collapse navbar-collapse ">
            <a class="navbar-brand" href="/welcome">GymApp</a>
            <a class="nav-item nav-link" href="/welcome" >Home</a>           
        </div>
       <form th:action="@{/logout}" method="post" class="nav-item nav-link" style="cursor: pointer;">
            <input type="submit" value="Logout"/>
        </form>
	</div>
</nav>
<div class="container">
	<h2 class="mt-2 mb-2">Completa la scheda</h2>
	<div class="row">
			<div class="col p-2 ingrandisci" style="width:50%">
				<h4>Lista Esercizi associati alla tua scheda</h4>
				<div th:if="${piano.exercises} == null" class="alert alert-warning" role="alert">
					  Nessun esercizio associato!
				</div>
				<table th:unless="${piano.exercises} == null" class="table table-dark table-striped mt-2">
				  <thead>
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Nome Esercizio</th>
				      <th scope="col">Ripetizioni</th>
				      <th scope="col">Serie</th>
	      			  <th scope="col">Tempo di recupero</th>
				      <th scope="col">Descrizione</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr th:each="ese : ${piano.exercises}">
				      <td class="align-middle" scope="row" th:text="${eseStat.index + 1}"></td> 
				      <td class="align-middle" th:text="${ese.name}"></td>
				      <td class="align-middle" th:text="${ese.nRepetition}"></td>
				      <td class="align-middle" th:text="${ese.nSerie}"></td>
	      			  <td class="align-middle" th:text="${ese.breakTime}"></td>
				      <td class="align-middle" th:text="${ese.description}"></td>	      
				    </tr>
				  </tbody>
				</table>
		</div>
		<div class="col p-2 ingrandisci" style="width:50%">
			<h4>Lista di tutti gli Esercizi</h4>
			<table class="table table-striped mt-2">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nome Esercizio</th>
			      <th scope="col">Ripetizioni</th>
			      <th scope="col">Descrizione</th>
			      <th scope="col">Aggiungi alla scheda</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="esercizio : ${esercizi}">
			      <td class="align-middle" scope="row" th:text="${esercizioStat.index + 1}"></td> 
			      <td class="align-middle" th:text="${esercizio.name}"></td>
			      <td class="align-middle" th:text="${esercizio.nRepetition}"></td>
			      <td class="align-middle" th:text="${esercizio.description}"></td>	    
			      <td class="align-middle">
			      	<a class="btn btn-success px-2" style="width:48px" th:href="@{/addExeScheda(id=${esercizio.exercise_id}, plan_id= ${plan_id})}">
			      		<span class="material-icons pt-1" style="font-size: 1.5em;">
							add
						</span>
					</a>
			      </td>  
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
	
</div>
<style>
	img {
	    height: 150px;
	    width: 200px;
	}
	th, td {
	    text-align: center;
	    vertical-align: middle;
	}
	@media only screen and (max-width: 1200px) {
	  .ingrandisci {
	    width: 100% !important;
	  }
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>