<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>GymApp</title>
    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav container">
        <div class=" collapse navbar-collapse ">
            <a class="navbar-brand" href="/welcome">GymApp</a>
            <a class="nav-item nav-link" href="/welcome" >Home</a>           
        </div>
        <form th:action="@{/logout}" method="post" class="nav-item nav-link" style="cursor: pointer;">
            <input type="submit" value="Logout"/>
        </form>
	</div>
</nav>
<div class="container">
	<h2 class="mt-2 mb-2" th:text="${add} ? 'Nuovo Account': 'Modifica Account'"></h2>
	<br/>
	<form action="#" th:action="@{'/save/' + ${account.id}}" th:object="${account}" method="post">
		<div class="row">
			<div class="input-group mb-3 col">
		  		<div class="input-group-prepend">
		    		<span class="input-group-text">Nome</span>
		  		</div>
		  			<input class="form-control" type="text" th:field="*{firstName}" required>
			</div>
			<div class="input-group mb-3 col">
		  		<div class="input-group-prepend">
		    		<span class="input-group-text">Cognome</span>
		  		</div>
		  			<input class="form-control" type="text" th:field="*{lastName}" required>
			</div>
		</div>
		<div class="row">
			<div class="input-group mb-3 col">
		  		<div class="input-group-prepend">
		    		<span class="input-group-text">Email</span>
		  		</div>
		  			<input class="form-control" type="email" th:field="*{mail}" required>
			</div>
			<div class="input-group mb-3 col">
		  		<div class="input-group-prepend">
		    		<span class="input-group-text">Telefono</span>
		  		</div>
		  			<input class="form-control" type="tel" minlength="10" pattern="[0-9]{10}"  th:field="*{nPhone}" required>	
			</div>
		</div>
		<div class="row">
			<div class="input-group mb-3 col">
		  		<div class="input-group-prepend">
		    		<span class="input-group-text">Username</span>
		  		</div>
		  			<input class="form-control" minlength="5" type="text" th:field="*{username}"required>
			</div>
			<div class="input-group mb-3 col">
		  		<div class="input-group-prepend">
		    		<span class="input-group-text">Password</span>
		  		</div>
		  			<input th:if="${add}" class="form-control" type="password" minlength="8" th:field="*{password}" required>
		  			<input th:unless="${add}" class="form-control" type="password" minlength="8" th:field="*{password}">
			</div>
		</div>
		<div class="row">
			<div class="input-group mb-3 col-6">
		  		<div class="input-group-prepend">
		    		<span class="input-group-text">Age</span>
		  		</div>
		  			<input class="form-control" type="number" min="16" th:field="*{age}" required>
			</div>
		</div>			
		<button class="btn-primary btn" type="submit" th:text="${add} ? 'Aggiungi': 'Modifica'"></button>
	</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>