<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>GymApp</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
	<h2>Error</h2>
	<div th:if="${url != null || url != '' || url != 'undefined'}" >
		<strong>Attenzione!</strong><span>E' stata rilevata un eccezzione al percorso : </span>
		<span th:text="${url}"></span>
	</div>
	<div th:unless="${url != null || url != ''}" >
		<strong>Errore generico!</strong>
	</div>
	<br>
	<div th:if="${exception != null || exception != ''}" >
		<strong>L'eccezione generata e' :</strong>
		<br>
		<div class="alert alert-danger" role="alert">
			<span th:text="${exception}"></span>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>