<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <title>GymApp</title>

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav container">
        <div class=" collapse navbar-collapse ">
            <a class="navbar-brand" href="/welcome">GymApp</a>
            <a class="nav-item nav-link" href="/welcome" >Home</a>           
        </div>
       <form th:action="@{/logout}" method="post" class="nav-item nav-link" style="cursor: pointer;">
            <input type="submit" value="Logout"/>
        </form>
	</div>
</nav>
<div class="container">
	<h2 class="mt-2 mb-2">Impostazioni Accounts</h2>
	<div class="row mb-2">
		<div  class="col-4 d-flex justify-content-start">
		<form th:action="@{/searchAccount}" th:object="${search}" method="get">
			<div class="input-group mb-3">
				  <input type="text" class="form-control" th:value="${search}" placeholder="Cerca.." name="search" >
				  <div class="input-group-append" style="height:38px">
				    <button class="btn btn-primary"  type="submit">
				    	<span class="material-icons" style="color:white">
						search
						</span>
				    </button>
				    </div>
			  
			  </div>
			  </form>
			</div>
		<div class="col d-flex justify-content-end">
		<a class="btn btn-success" href="/addAccount" style="height:38px" >Aggiungi Account
		</a>
		</div>	
	</div>
	<table class="table table-striped mt-2">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Username</th>
	      <th scope="col">Name</th>
	      <th scope="col">Surname</th>
	      <th scope="col">Mail</th>
	      <th scope="col">Telefono</th>
	      <th scope="col">Modifica</th>
	      <th scope="col">Elimina</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="account : ${listAccounts}">
	      <td class="align-middle" th:text="${accountStat.index + 1}"></td> 
	      <td class="align-middle" th:text="${account.username}"></td>
	      <td class="align-middle" th:text="${account.firstName}"></td>
	      <td class="align-middle" th:text="${account.lastName}"></td>
	      <td class="align-middle" th:text="${account.mail}"></td>
	      <td class="align-middle" th:text="${account.nPhone}"></td>
	      <td class="align-middle">
	      	<a class="btn btn-warning px-2" style="width:48px" th:href="@{'/editAccount/' + ${account.id}}">
	      		<span class="material-icons pt-1" style="font-size: 1.5em;">
					create
				</span>
			</a>
	      </td>
	      <td class="align-middle">
	      	<a class="btn btn-danger px-2" style="width:48px" th:href="@{'/deleteAccount/' + ${account.id}}">
	      		<span class="material-icons pt-1" style="font-size: 1.5em;">
					delete
				</span>
			</a>
	      </td>
	    </tr>
	  </tbody>
	</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>