<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <title>GymApp</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav container">
        <div class=" collapse navbar-collapse ">
            <a class="navbar-brand" href="/welcome">GymApp</a>
            <a class="nav-item nav-link" href="/welcome" >Home</a>           
        </div>
       	<form th:action="@{/logout}" method="post" class="nav-item nav-link" style="cursor: pointer;">
            <input type="submit" value="Logout"/>
        </form>
	</div>
</nav>
<div class="container">
	<h2 class="mt-2 mb-2">La tua Scheda</h2>
	<div th:if="${listaEsercizi.size()} == 0" class="alert alert-warning mt-2 mb-2" role="alert">
  		<strong>Attenzione!</strong> Nessun scheda di esercizi associata, ti preghiamo di chiedere a un Personal Trainer di fartene una.
	</div>
	<table  th:unless="${listaEsercizi.size()} == 0" class="table table-striped mt-2">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Nome Esercizio</th>
	      <th scope="col">Ripetizioni</th>
	      <th scope="col">Serie</th>
	      <th scope="col">Tempo di recupero</th>
	      <th scope="col">Descrizione</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="esercizio : ${listaEsercizi}">
	      <td class="align-middle" scope="row" th:text="${esercizioStat.index + 1}"></td> 
	      <td class="align-middle" th:text="${esercizio.name}"></td>
	      <td class="align-middle" th:text="${esercizio.nRepetition}"></td>
	      <td class="align-middle" th:text="${esercizio.nSerie}"></td>
	      <td class="align-middle" th:text="${esercizio.breakTime}"></td>
	      <td class="align-middle" th:text="${esercizio.description}"></td>	      
	    </tr>
	  </tbody>
	</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>