<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <title>GymApp</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav container">
        <div class=" collapse navbar-collapse ">
            <a class="navbar-brand" href="/welcome">GymApp</a>
            <a class="nav-item nav-link" href="/welcome" >Home</a>           
        </div>
        <form th:action="@{/logout}" method="post" class="nav-item nav-link" style="cursor: pointer;">
            <input type="submit" value="Logout"/>
        </form>
	</div>
</nav>
<div class="container">
	<h2 class="mt-2 mb-2">Aggiungi il tuo Favorito</h2>
	<table class="table table-striped mt-2">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Username</th>
	      <th scope="col">Name</th>
	      <th scope="col">Surname</th>
	      <th scope="col">Sceglimi</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="account : ${people}">
	      <td class="align-middle" scope="row">1</td> 
	      <td class="align-middle" th:text="${account.username}"></td>
	      <td class="align-middle" th:text="${account.firstName}"></td>
	      <td class="align-middle" th:text="${account.lastName}"></td>
	      <td class="align-middle">
	      	<a class="btn btn-warning px-2" style="width:48px" th:href="@{'/setFavourite/' + ${account.id}}">
	      		<span class="material-icons pt-1" style="font-size: 1.5em;">
					grade
				</span>
			</a>
	      </td>
	    </tr>
	  </tbody>
	</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>